	
#!/usr/bin/env bash

# Heavily inspired by https://github.com/mathiasbynens/dotfiles/blob/main/.exports

# Make vim the default editor.
export EDITOR='vim';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";
 
# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Change grep color to green
export GREP_COLOR='01;32';

# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH";
		
# Java 8
#export JAVA_HOME_8=$(/usr/libexec/java_home -v1.8)
#export JAVA_HOME_11=$(/usr/libexec/java_home -v11)
export JAVA_HOME_17=/Library/Java/JavaVirtualMachines/jdk-17.0.2.jdk/Contents/Home

# If multiple Java versions installed, quicly switch between them
export JAVA_HOME=$JAVA_HOME_17

# Python virtualenvwrapper (see https://virtualenvwrapper.readthedocs.io/en/latest/install.html)
export PYENV_VIRTUALENVWRAPPER_PREFER_PYVENV="true"



## Temporary fix for maven
#export PATH="~/Downloads/apache-maven-3.8.4/bin:$PATH";